
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: antiquewhite;
}

.heada{
    display: flex;
    font-size: 9vw;
    font-family: "kajiro";
    font-weight: 100;
    font-stretch: semi-expanded;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    margin: 2vw auto;
}


#formy{
display: flex;
flex-direction: column;
width: 50%;
height: 500px;
background-color: red;
justify-content: center;
align-items: center;
margin: 5vw auto;

}

#formy input{
    width: 80%;
    height: 5vw;
    font-size: 3vw;
    font-family: "kajiro";
}

